/*------------- GENERALE ---------------*/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

#page {
  width: 80%;
  margin: 0 auto;
}

/*------------ INTESTAZIONE ------------*/

.intestazione {
  position: relative;
  background-color: red;
  height: 350px;
  width: 100%;
  border: 10px solid white;
}

.intestazione h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* -------------- MENU' ----------------*/

.menù {
  position:relative;
  height: 50px;
  width: 100%;
  background-color: green;
}

.menù h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-transform: uppercase;

}

/*-------------- CORPO -----------------*/

#cont-1 {
  float: left;
  background-color: chocolate;
  height: 500px;
  width: 15%;
  position: relative;
}

#cont-2 {
  float: left;
  background-color: #0042db;
  height: 400px;
  width: 70%;
  position: relative;
}

#cont-3 {

  float: left;
  height: 1000px;
  width: 15%;
  background-color: #ffff00;
}

.main_contenitori::after {
  content: '';
  display: table;
  clear: both;
}

.txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}


/*------ colore contenitori in-3 ----- */

.divisione {
  height: calc(100% / 3);
}

.primo {
  background-color: grey;
  position: relative;
}

.secondo {
  background-color: darkblue;
  position: relative;
}

.terzo {
  background-color: lightsalmon;
  position: relative;
}

/*------------ FOOTER -----------------*/

.footer {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 100%;
  background-color: yellow;
}

.footer h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50);
}
